[2015-06-02 09:37] KevinPhemius opened #3 "Can't generate mininet confuguration"
Hello,

I'm following the tutorial to implement UC3.
I used to be able to generate a mininet file in the previous version, now I can't (the option doesn't show up).

Best,

Kévin

[2015-06-02 09:41] KevinPhemius commented on #3
IDK if relevant but when I start the eclipse application (the second one, for modelling) the first one has a buch of error in the console :

!SESSION 2015-06-02 11:39:17.390 -----------------------------------------------
eclipse.buildId=4.4.0.I20140606-1215
java.version=1.7.0_65
java.vendor=Oracle Corporation
BootLoader constants: OS=linux, ARCH=x86, WS=gtk, NL=en_US
Framework arguments:  -produc

[2015-06-02 11:10] cstritzke commented on #3
Hi,

did you select the Network Environment element in the model after double-clicking the .topology file and expanding the model tree?

Also, are you using [Eclipse Modeling Edition Luna SR2](http://www.eclipse.org/downloads/packages/eclipse-modeling-tools/lunasr2)?

Best
Christian

[2015-06-02 11:28] KevinPhemius commented on #3
Hi,

I did select the Network Environment. There is no "mininet" option when I right click.
I use Eclipse Modeling Tools Version: Luna Release (4.4.0) Build id: 20140612-0600

[2015-06-02 11:50] KevinPhemius commented on #3
I try to use "validate", here is the error (same for each host) :

Unable to find delegate to evaluate the 'nodirectconnection' constraint on 'Host h1': http://www.eclipse.org/emf/2002/Ecore/OCL/Pivot   UC3.topology    /UC3    Unknown EMF Problem

[2015-06-02 12:03] cstritzke commented on #3
I'm using [Luna SR2 (4.4.2) Build id: M20150204-1700](http://www.eclipse.org/downloads/packages/eclipse-modeling-tools/lunasr2). Could you try that one? It should be the current version on the website.
Also, switching to the development branch can help.
I haven't seen your error yet. If switching to the newer version doesn't fix the problem, I'll try to reproduce it.

[2015-06-02 12:56] antonis-m commented on #3
I have pretty much the same issue as Kevin. I am using the eclipse version mentioned above (SR2 4.4.2) and I am trying to build a simple network topology. Any help would be much appreciated :)

[2015-06-02 13:45] cstritzke commented on #3
Strange... and the plugin "eu.netide.generator" is in your workspace (of the first eclipse instance)?

Can you run your apps, i.e. set up a run configuration, choose a topology and apps and launch it?

[2015-06-02 13:58] KevinPhemius commented on #3
I can't seem to.
I don't see the same things as in the demo.

[2015-06-02 13:58] antonis-m commented on #3
Correction: No I cannot run the app, I cannot see the NetIDE controller deployment in the panel..

[2015-06-02 14:41] farhaven commented on #3
Did you update the plugins in-place? If not, are you sure you've imported them correctly?

[2015-06-02 14:49] KevinPhemius commented on #3
I deleted everything and re-cloned the repo.
I then followed the usual steps (in the tutorial).

[2015-06-03 13:04] cstritzke commented on #3
I just talked to Antonis and we found out that it was unclear that all the projects from the plugin folder have to be in the workspace root. So in the end you should have the following structure in your workspace root:

[code]

I updated the readme in the master and development branch accordingly

[2015-10-07 11:29] #3 closed, assigned to cstritzke

[2015-10-07 13:39] cstritzke opened #7 "Ruy is not installed and started correctly"
The ryu installation script and the start command is currently not working. I sorted out the following reasons:
1. The folder ryu-shim/netide does not exist anymore -> installation fails
2. The ryu backend script name has been changed from "backend.py" to "ryu-backend.py" -> startup fails

[2015-10-07 13:58] farhaven commented on #7
I pushed a fix for those a few minutes ago. There's one remaining problem now, which is that the `netip` library that does all the wrapping of flow messages can't be found because it's not installed properly right now.

My suggestion would be to turn that library into a Python module that can be installed with Pip, but I think that's better discussed in the Engine issue tracker.

[2015-10-07 14:07] andres-beato commented on #7
I think the problem here is that the script was prepared to catch the ryu
shim and the ryu backend from the development branch, where currently the
version of Ryu shim and backend are prepared to run with the new core, so
we have to catch the old version of ryu shim and backend from the
"pyretic_intermediate_protocol" branch.

2015-10-07 15:58 GMT+02:00 Gregor Best notifications@github.com:

[2015-10-07 14:58] ElisaRojas commented on #7
Hi, I've been talking with @andres-beato about this. To summarize a bit more: Currently there is a pyretic_interm... feature branch in the Engine, with all the old stuff. Our scripts do not work anymore because the Engine master/development branches have mixed functionalities (some with the new core and some with the old Pyretic API).

Therefore, the solution is:
- On one hand: we create a pyretic

[2015-10-07 15:00] doriguzzi commented on #7
Hi Elisa,

I totally agree with you.

--rob

[2015-10-07 16:27] cstritzke commented on #7
Thanks for looking into this. I'll try to build a new vm with the branch and update the Eclipse-MP version when it works.

[2015-10-09 09:23] cstritzke commented on #7
Just tried the pyretic_interm... branch and it works. Thanks!

[2015-10-09 09:23] #7 closed, assigned to andres-beato

[2015-10-13 14:41] cstritzke opened #9 "Status of the core integration"
Hi,

I just tested the core integration. After a small fix in the installation script and the startup commands, I got Karaf and the Core prompt working.
What's still missing is a sample composition.xml file (or a stub) in the Composition folder.
I have a fix for that ready and I can push it if you agree.

I'm not sure how we specify and start the shim and the backend controllers. Tim, is there any

[2015-10-13 15:04] TimVinkemeier commented on #9
For now, we have only this ("How to deploy" section). When I handed in my master's thesis, you will have more :D

[2015-10-13 15:04] TimVinkemeier commented on #9
https://github.com/fp7-netide/Engine/blob/CoreImplementation/core/Readme.md

[2015-10-13 15:33] ElisaRojas commented on #9
Hi Christian,

I think @andres-beato has already tried some example. In any case, I think we just need the file used by @sergiotamu in the tests.

[2015-10-13 16:10] andres-beato commented on #9
Hi Christian,

Yes, push your code please.

Regarding the composition file, I think we need the file used by
@sergiotamu for the test.

Hi Christian,

I think @andres-beato https://github.com/andres-beato has already tried
some example. In any case, I think we just need the file used by @sergiotamu
https://github.com/sergiotamu in the tests.

—
Reply to this email directly or view it on GitHub
htt

[2015-10-13 16:29] sergiotamu commented on #9
Hello all,

Here you are the Composition Specification file which I am using for testing purposes.
![seleccion_005](https://cloud.githubusercontent.com/assets/9716567/10461150/480d68fc-71d8-11e5-9c2b-f236c82119ce.png)

I attach an image due to xml files are not supported.

[2015-10-13 18:31] cstritzke commented on #9
Thanks a lot! The code is in the repo. Whenever a new project is created, the sample composition file is created as well.

[2016-03-03 14:43] ElisaRojas commented on #9
Hi @cstritzke , do you have any other problem deploying the core? should we close this issue now? :smile:

[2016-03-03 19:02] cstritzke commented on #9
Oh, right. Let's close it :)

[2016-03-03 19:02] #9 closed, assigned to nobody

[2016-03-28 11:09] ElisaRojas opened #14 "Errors when deploying new master branch"
Hi @cstritzke ,

A colleague is trying to deploy the new master branch (after #13), but he's getting a bunch of errors. He's also trying a fresh cloning and still the same issues. I'm attaching below a screenshot and the log. Any idea of what could it be?
(If you need further information, please let me know).
Thank you!

![errores](https://cloud.githubusercontent.com/assets/2779496/14076889/29798e

[2016-04-01 16:04] cstritzke commented on #14
Hi @ElisaRojas,
I need some more information:
- Is the m2e plugin installed?
  - If so, did your colleague try to right-click a project and select `Maven->Update Project...`?
- Did your colleague try to rebuild everything by selecting `Project->Clean...`?

[2016-04-01 16:15] ElisaRojas commented on #14
Thank you @cstritzke , I'll check that with him and let you know :)

[2016-04-01 22:15] ElisaRojas commented on #14
Hi again @cstritzke ,
He has tried again and he still has errors, in the POM.xml.
I will talk with him again on Monday and let you know further details...

[2016-04-04 07:31] ElisaRojas commented on #14
I'm attaching a screenshot with the errors this time:

![errores](https://cloud.githubusercontent.com/assets/2779496/14240807/053f5d66-fa48-11e5-82ee-30f86d6e26e4.png)

[2016-04-04 16:21] ElisaRojas commented on #14
Thanks for your help @cstritzke . After installing tycho and so (Java >8!), Gonzalo is able to run the IDE :grinning: although he still has the following error:

![error_last](https://cloud.githubusercontent.com/assets/2779496/14254903/107125bc-fa92-11e5-99e7-21e45014fa55.png)

Any ideas?
Thanks!

[2016-04-05 12:16] piotr152 commented on #14
No quick fixes for that error?

[2016-04-05 12:17] cstritzke commented on #14
No quick fixes this time?

[2016-04-05 15:29] ElisaRojas commented on #14
Unfortunately, he tried and still not working :(
The suggestion was "Install m2e connectors", he did, but the error is still there:

![error_pom](https://cloud.githubusercontent.com/assets/2779496/14287656/d283f294-fb53-11e5-8617-50da2e518ddf.png)

The remaining suggestions are:

[code]

![quickfix](https://cloud.githubusercontent.com/assets/2779496/14288358/94b6977a-fb56-11e5-9c53-ac77fd6683a9.pn

[2016-06-14 12:54] GonzaloFajardoMedina opened #18 "Error using Mininet in Vagrant option."
Hi,
when I run Mininet, shows the next error:

![error](https://cloud.githubusercontent.com/assets/11718117/16043395/bebe112c-323f-11e6-835d-225adc456482.png)

Any idea?

Thanks everybody.

[2016-06-14 13:44] ElisaRojas commented on #18
Just to clarify a bit more, the problem that @GonzaloFajardoMedina has is that Mininet is not able to connect to the Engine.

Maybe some of the modules of the Engine are not running?

[2016-06-14 13:51] GonzaloFajardoMedina commented on #18
No, all modules are running: Core, Shim and ryu-backend. And the shim and the ryu-backend connect to the Core.

[2016-06-15 17:20] GonzaloFajardoMedina opened #19 "SSH Option doesn't have a ryu-shim button."
Hi,
it is not implemented the option to choose ryu as shim , right?
![shim](https://cloud.githubusercontent.com/assets/11718117/16090058/3b915ada-332e-11e6-8c52-a7f0f959ac9a.png)

Thanks.

[2016-06-23 09:07] ElisaRojas commented on #19
Hi again @cstritzke . Apparently @doriguzzi is also having some problems

[2016-06-23 09:11] ElisaRojas commented on #19
Sorry, I closed it by mistake :smile: @cstritzke , could you give any feedback? Sergio told us today that you would fix this, but the thing is that we need it to continue developing the IDE part of the verificator...  Would it be possible to fix it soon? Thank you!

[2016-06-23 09:12] #14 closed, assigned to cstritzke

[2016-06-23 09:14] cstritzke commented on #18
It's all a matter of time when it comes to OpenDaylight. If you wait for about half a minute, Mininet shouldn't print that error anymore.
But, error or not, it should work once ODL is fully initialized.

[2016-06-23 09:25] cstritzke commented on #19
There's a new commit on the master branch that should hopefully fix it. Sorry for the delay - somehow the notifications were sent to me only just now...

Please let me know it it works.

[2016-06-23 10:41] ElisaRojas commented on #19
Thank you @cstritzke ! @GonzaloFajardoMedina , please let us know if it's working now :)

[2016-06-23 10:53] GonzaloFajardoMedina commented on #19
Now,, the ryu-shim button is available and runs without problem:
![fix_error](https://cloud.githubusercontent.com/assets/11718117/16300678/6e09a77e-3941-11e6-8e6d-d49b2f81c21f.png)

 Thanks @cstritzke !!!

[2016-06-23 10:53] #19 closed, assigned to cstritzke

[2016-06-23 11:16] GonzaloFajardoMedina commented on #18
Although I wait that ODL initializes (about 2 minutes after it is initialized), Mininnet still does not go. I also tested the ryu-shim option and it still gives the error: **unable to contact the remote controller at 127.0.0.1:6633** .
any suggestion?

[2016-06-23 13:41] cstritzke commented on #18
Try to set the controller port in your model to 6644, then regenerate it.

[2016-07-21 12:00] ElisaRojas opened #20 "Set up Eclipse, step 4 not found"
Hi,

I was reinstalling the IDE from scratch and I had to stop at step 4, because http://updatesite.netide.eu/dependencies is not loading.

![ide4](https://cloud.githubusercontent.com/assets/2779496/17021908/4b46145a-4f4b-11e6-9769-540845fbcc5e.png)

@cstritzke , is this ok? I guess not, but just in case the README is not updated. Could you indicate the packages I need to install manually?

Any he

[2016-07-21 12:59] cstritzke commented on #20
There's a problem with the update site server. With a bit of luck, it will be fixed tomorrow.
Meanwhile, you can build the update site from source. You'll need the newest copy of the master branch and follow the steps described [here](https://github.com/fp7-netide/IDE/wiki/Installation#by-building-from-source).

[2016-07-21 13:56] ElisaRojas commented on #20
Thank you @cstritzke ,

I tried installing manually, but I got the following error when executing `MAVEN_OPTS="-Xmx1024M" mvn package`:

[code]

Any ideas? Thanks!

[2016-07-21 16:42] GonzaloFajardoMedina commented on #18
Hi @cstritzke,
I still get the same error. What could I do?
I remember recently changed the Core.
Thanks.

[2016-07-22 07:58] cstritzke commented on #20
This looks a lot like some kind of access right problem. Don't know how to solve this other than by brute force deletion of parts of the m2 repository folder.

On the bright side: The updatesite server is running again :)

[2016-07-22 08:02] ElisaRojas commented on #20
Yes, I was just about to say that... :)

I tried deleting parts of the m2 folder, but it didn't work, although it seems what you say... but I was not lucky :laughing:

I'm closing the issue then, thank you @cstritzke !

[2016-07-22 08:02] #20 closed, assigned to cstritzke

[2016-07-22 14:33] GonzaloFajardoMedina opened #21 "Problems with ryu-backend in ssh option"
Hi @cstritzke,
I run the Core, the ryu-shim and mininet without problems using the ssh option. But, ryu-backend doesn't work well.
Do you know what is the problem?
![ssh-backend](https://cloud.githubusercontent.com/assets/11718117/17060372/f29f76fe-5029-11e6-8b44-5045eee42338.png)

Thanks.

[2016-07-24 20:41] ElisaRojas commented on #21
Hi @GonzaloFajardoMedina , I think the module is called SimpleSwitch and not simple_switch, could it be related with that?

[2016-07-25 07:29] cstritzke commented on #21
Hi @GonzaloFajardoMedina, I need more information on the issue. Could you please post your Vagrant file, the output of the `tree` command in the apps folder and the xml-representation of the wb file?
Thanks

[2016-07-25 21:29] GonzaloFajardoMedina commented on #21
Hi @cstritzke
I show you that:
Vagrantfile:
![vagrantfile](https://cloud.githubusercontent.com/assets/11718117/17117790/2e2b7d4e-52be-11e6-8fa9-63054521b0ea.png)

Tree command in the app folder:
![tree](https://cloud.githubusercontent.com/assets/11718117/17117912/b8be3c80-52be-11e6-9241-1b7a57b43978.png)

And xml-representation:
https://drive.google.com/file/d/0B8Ooz7bmUcNCOXlWVUFyQjNtd2M/view?usp

[2016-07-26 07:26] cstritzke commented on #21
Do you only have this one simple switch app in your apps folder?

[2016-07-26 07:28] GonzaloFajardoMedina commented on #21
Yes, sure!

[2016-07-26 07:41] cstritzke commented on #21
And you started your machine with vagrant up? If you just started the VM, the apps folder will not be mounted.

[2016-07-26 07:52] GonzaloFajardoMedina commented on #21
Yes, I did, Before to change the Core, it didn't happen and I could do "vagrant up" when I run the VM and it doesn't give any problem. I think not still happens.

[2016-07-28 08:38] cstritzke commented on #21
The solution was to consistently use "vagrant up" to start the machine. Starting the test VM with VirtualBox does not mount the app folder into the machine which leads to the error.

[2016-07-28 08:38] #21 closed, assigned to cstritzke

[2016-08-25 14:26] ElisaRojas opened #24 "Running a topology with one switch (some questions...)"
Hi,

I've reinstalled the IDE with the latest version of master and tried to test the simplest topology: one switch + two hosts... and I have several questions for @cstritzke or anyone able to do so:

1) Is it necessary to **generate the Mininet script**? I remember that was necessary before. I tried to run the VM with and without generating it and I got the same result. Could somebody clarify thi

[2016-08-25 16:16] ElisaRojas opened #25 "Errors in ZMQ hub"
Hi @cstritzke , all,

I have the following errors in the ZMQ hub plugins:
![zmq-errors](https://cloud.githubusercontent.com/assets/2779496/17976912/c5d312da-6aef-11e6-8d8b-630becb85541.png)

Because of it, I cannot load the ZMQ view in the runtime Eclipse. Any ideas of how to solve it? Much thanks in advance! :)

[2016-08-31 14:08] ElisaRojas commented on #25
Fixed with e073133d73021637226468096f8218340de63a6c
Basically, it contained some code for Eclipse Neon, not compatible with Eclipse Mars (the one I was using).
Thank you @cstritzke !

[2016-08-31 14:08] #25 closed, assigned to cstritzke

[2016-09-01 09:30] ElisaRojas commented on #24
Hi all,

Answering myself after talking with @cstritzke ...

1) Is it necessary to generate the Mininet script? I remember that was necessary before. I tried to run the VM with and without generating it and I got the same result. Could somebody clarify this?

2) When running the NetIDE project, I can either choose single controllers, the NetworkEngine or the Core. This is not very clear to me. Sho

[2016-09-01 09:43] ElisaRojas opened #26 ""vagrant up" is not working currently (suggested solution inside)"
Hi @cstritzke ,

I tried `vagrant up` a couple of times and I always got this error:
![vagrant-up2](https://cloud.githubusercontent.com/assets/2779496/18162709/d3e9a814-7037-11e6-8ce0-8c5f8ed821f7.png)

The problem is that the link http://ftp.fau.de/apache/karaf/3.0.7/apache-karaf-3.0.7.tar.gz in the installation script is not working (404 response). I'd suggest to use the official one from the Ap

[2016-09-01 10:52] ElisaRojas commented on #18
Hi @cstritzke ,

I have the same problem that @GonzaloFajardoMedina when using Ryu+Core+Ryu. I've tried stopping and restarting the backend, and also Mininet, but yet the same error:

![mininet](https://cloud.githubusercontent.com/assets/2779496/18164903/b3c87fd2-7042-11e6-8905-84430c19b365.png)

It's a bit strange, because Ryu should run quite fast, it shouldn't need extra time to be ready. I wai

[2016-09-05 11:34] cstritzke commented on #26
Hi Elisa,

I'm currently testing a new version of the installation scripts with apache 3.0.8. I also took the opportunity and changed the karaf directory in the vm from $HOME/apache-karaf-3._._ to $HOME/netide/core-karaf.

If the installation works, I'll push the new code to the master branch.

I didn't use the older karaf versions, simply because I couldn't find them :). Hence, I always try to us

[2016-09-05 11:45] cstritzke commented on #26
0100a6f5e418c242e28b043ea0400da89c9f5bd9 and ed074f3e2e6fe8394d4f2580cd12ca1232c47540 should fix the first problem.

[2016-09-05 12:35] ElisaRojas commented on #26
Thank you Christian.

Concerning older Karaf versions, they are all in http://archive.apache.org/dist/karaf/ :)
About ODL, it has improved in the last days and now it only takes 30 minutes, which is reasonable. In any case, other repos are here: https://nexus.opendaylight.org/content/groups/public/org/opendaylight/integration/distribution-karaf/ But now that is working fine, maybe we can leave it

[2016-09-05 12:35] #26 closed, assigned to cstritzke

[2016-09-05 12:39] ElisaRojas opened #27 ""vagrant up" after successful creation of the VM"
Hi @cstritzke

After creating the VM and testing it, I pressed halt and got the following error.
![core-halt](https://cloud.githubusercontent.com/assets/2779496/18248009/4cd5c60e-7376-11e6-84d8-2832e635232f.png)

If I try to press "up" again to continue testing, I get similar errors:

![vagrant-up](https://cloud.githubusercontent.com/assets/2779496/18248000/3cb125d4-7376-11e6-8f9b-d4456e29bcf2.png

[2016-09-07 09:40] cstritzke commented on #24
Concerning 1): Did you delete the gen/mininet folder and try starting it?

[2016-09-07 09:45] cstritzke commented on #18
Did you try to change your controller port in the topology model to 6644? That might be the problem here. Maybe it makes sense to have another standard port here.

[2016-09-07 09:49] ElisaRojas commented on #24
No, I didn't delete it. Anyway, my question is simpler, is it necessary to create or not? When I tried `vagrant up` I had created it and thus worked. But I did it because I remembered it from the old guide... since many things changed in the IDE, I don't know if that's a requisite anymore.

[2016-09-07 09:53] ElisaRojas opened #28 "SSH option"
Hi @cstritzke ,

As you know, we need to use the IDE for our use case, but, unfortunately, I still can't find the way to run it... If I run the Vagrant option, I have the problems in #18  and #27 .

If I choose SSH instead, I cannot connect to my VM (it's the VM I have been using for all demos, developments, etc. and I know it's working correctly). I'm attaching a screenshot of my config, just in

[2016-09-07 10:03] cstritzke commented on #24
Looking at the code, I'm gonna say yes, you have to push the generate button before starting mininet.

[2016-09-07 10:06] cstritzke commented on #28
Yes, the location of the components is quite restrictive at the moment I'm afraid. If the Core is not at $HOME/netide/core-karaf, it won't start.

[2016-09-07 10:07] cstritzke commented on #28
Also, is your ssh port for the VM really 2222?

[2016-09-07 11:12] ElisaRojas commented on #24
Ok, perfect! Thanks!

[2016-09-07 11:12] #24 closed, assigned to cstritzke

[2016-09-07 11:16] ElisaRojas commented on #28
Haha, I used 2222 because Gonzalo sent me a valid example with that value... but 22 makes much more sense. In any case, I have the same result with 22 :(

Could you provide some guide specifying the _**needed**_ location of all components? In case the Vagrant option does not work, I'll need to create a VM from scratch with those locations. (I'm going to try now the VM created with Vagrant via SSH

[2016-09-07 11:27] cstritzke commented on #28
Core: ~/netide/core-karaf
Mininet Configurations: ~/netide/mn-configs
ODL Shim: ~/netide/distribution-karaf-0.4.0-Beryllium/
Engine Repo: ~/netide/Engine
Apps: ~/netide/apps

Please let me know if you need more.

[2016-09-07 12:33] ElisaRojas commented on #28
Core: ~/netide/core-karaf is new? I mean, I saw the others correctly, but the core was not there, but in ~/apache... (I have the previous commit of master, not the current one).

[2016-09-07 12:59] cstritzke commented on #28
Yep, I changed it for the sake of consistency. Sorry, that's pretty new. Should have notified you.

[2016-09-07 13:14] ElisaRojas commented on #18
Sorry, but why should I change it to 6644? It makes sense for ODL, because the ODL shim uses that port by default, but not for Ryu :( (I mean, it should not affect at all!). I haven't tried 6644 because I don't want the VM to be created once again from scratch, would that be avoided? If so, please let me know and I can have a try, but to me it does not make sense to change the port...

In fact, I'

[2016-09-07 13:18] ElisaRojas commented on #28
One question, would it be possible to change some of those folders? Mainly the core and ODL shim folders, we can adapt the others in our VMs.

The reason is that currently the people running demos (Raúl, Sergio with the testbed, Juanma, me). We all have different locations (we all have the same, but different than yours) and using yours would mean to reinstall many of the stuff in our VMs, which i

[2016-09-07 13:50] ElisaRojas commented on #28
Hi again, I'm copying my current VM (30 mins remaining) and I will modify it to have those specific folders. I'll let you know if it works, in around 1h and then we can decide whether to change some of them or not.

[2016-09-08 08:08] ElisaRojas commented on #27
Hi @cstritzke , I updated Vagrant. The IDE does the same than before (currently no output :cry: ). If I run `vagrant up` instead, I obtain the following new output (nice, something different! :))

![vagrant](https://cloud.githubusercontent.com/assets/2779496/18341424/3c6533be-75aa-11e6-9f84-33d90f028954.png)

My question now is that I cannot connect via SSH to that running VM. In fact, when I trie

[2016-09-28 09:14] ElisaRojas opened #29 "Error after master/ssh_config_extension branchs update"
Hi @cstritzke ,

I've updated the master branch and now I get the following errors:

![ide-master](https://cloud.githubusercontent.com/assets/2779496/18907391/c2a4e746-856b-11e6-830b-f68e1aacd2c2.png)

Then I've tried the ssh_config_extension branch, just in case this was something strictly related with the master branch and because I just wanted to test the new SSH options, but it still has the s

[2016-09-28 10:08] cstritzke commented on #29
Have you tried regenerating the xtext source files for the respective projects? See https://github.com/fp7-netide/IDE/blob/master/README.md#compiler-errors-after-pulling

[2016-09-28 10:38] ElisaRojas commented on #29
Thank @cstritzke , that was it! :+1:

[2016-09-28 10:38] #29 closed, assigned to cstritzke

[2016-09-28 11:12] ElisaRojas opened #30 "Testing ssh_config_extension"
Hi @cstritzke ,

I'm testing the new config options branch. When I click running "On", nothing changes, same if I try to activate the core, for example. I can't see any differences in the GUI for the configuration either.

![ssh](https://cloud.githubusercontent.com/assets/2779496/18911335/cd5ba7d6-857c-11e6-9389-2325fc428559.png)

Do I need to refresh the workbench somehow? How can I do it?

Thank

[2016-09-29 09:23] janniclas commented on #30
Hey @ElisaRojas ,
I just started testing the integration of the new features, so there is not much to say about that right now.
To your problem, currently there seems to be a problem with the overall state of the workbench. If a ssh profile exists on start the workbench falsely labels the ssh session as running.
The next thing is that the ssh manager currently doesn't start the vagrant box and thu

[2016-09-29 14:41] janniclas commented on #30
I just pushed my most recent changes to the ssh branch and started to write a readme for better understanding.
@ElisaRojas you can try the steps described in the readme and specify a custom path for core and odl and tell me if you have any problems there please.

[2016-09-29 18:01] ElisaRojas commented on #30
Hi @janniclas , thanks for your help!
With the update I do see now the different options and locations.

I still have a couple of questions:
1. I followed your README and generated the key set. However, I cannot execute the second step, because `ssh-copy-id` is not recognized as a Windows command (yes, I'm using Windows... W7 indeed). I read that is possible to create an script for Windows or use

[2016-09-29 18:24] ElisaRojas commented on #30
Hi again @janniclas ,

I think I've solved the `ssh-copy-id` thing following this link: http://askubuntu.com/questions/644478/i-dont-have-the-ssh-copy-id-command-windows-client

However, I tried to load the core and it still keeps blank. I'm not sure either if the workbench is connected to the VM, because I don't see any feedback in the GUI. (And yes, the VM is running and open, but I'm opening it

[2016-09-30 07:50] janniclas commented on #30
Hi @ElisaRojas
in the SSH ID File field you need to specify the key not the location, but not the *.pub key but your private key.
What bothers me is that I get a message in the terminal from the core no matter if the information I entered in the ssh profile are correct or not.
Wrong host results in a unknown host message, wrong id file in a ssh error, wrong port and wrong username in a denied conn

[2016-10-03 12:44] ElisaRojas commented on #30
Hi @janniclas , sorry for the delay, I really appreciate your fast replies!

Regarding the SSH ID file, I changed it to: `C:\Users\Elisa\VirtualBox VMs\NetIDE-Engine (v0.22)\netide` which is the other file generated with ssh-keygen (apart from the *.pub one) and the private key as far as I understand. But I might be totally wrong, please let me know if so. After changing it, I still obtain the sam

[2016-10-04 09:17] janniclas commented on #30
Hey @ElisaRojas ,
could you please get me the stacktrace of the null pointer exception? There should be some additional error output in the terminal if this occurs.

Yes you understood the privat key thing right, that should be correct now ;)

How did you set up your network setup for the virtual box? Thats something I never did, since I always used localhost.

[2016-10-04 10:33] ElisaRojas commented on #30
Hi @janniclas ,

This is the stacktrace I see:

[code]

The network setup is automatically done by VirtualBox. You can add any adapter and then choose a type among: No connection, NAT, Bridged, Host-only, etc. More info [here](https://www.virtualbox.org/manual/ch06.html). If you want a fixed IP and connect your desktop to any VM running on it, the best option is the Host-only mode. The range of IP

[2016-10-04 12:22] janniclas commented on #30
@ElisaRojas so I followed the steps as described [here](http://christophermaier.name/blog/2010/09/01/host-only-networking-with-virtualbox) and set up my virtual box. now I can successfully ssh on ip `192.168.56.101` as you can do and I can also use the workbench to connect to the core on any given location with the following setup
![screen shot 2016-10-04 at 14 19 18](https://cloud.githubuserconte

[2016-10-04 15:00] ElisaRojas commented on #30
Thank you @janniclas ! Yes, now it looks exactly as my configuration...
![ssh-netide](https://cloud.githubusercontent.com/assets/2779496/19079240/410e7a84-8a53-11e6-93c0-70915e14a240.png)

It's funny, because I can perfectly connect to the VM via SSH, but not via this interface... I'm sure it has to be something related with Windows (always fooling :sweat_smile: ), the things that come into my min

[2016-10-05 08:40] janniclas commented on #30
Hi @ElisaRojas ,
could you please check your NetIDE preferences and make sure they are set to the right path. Christian told me that they have to be configured manually on windows, which is not the case on mac or linux, so I didn't know that you might have to check that.

![screen shot 2016-10-05 at 10 37 16](https://cloud.githubusercontent.com/assets/8062521/19106518/0d72ec6a-8ae8-11e6-9216-b064e

[2016-10-05 11:14] ElisaRojas commented on #30
Thank you @janniclas , I provided the paths for SSH and SCP (which I have in cygwin), but I'm still obtaining the same error and error trace though...

![cygwinpath](https://cloud.githubusercontent.com/assets/2779496/19111015/942d2aa8-8afd-11e6-8ea5-f59494923f6a.png)

[2016-10-05 16:28] janniclas commented on #30
Hey @ElisaRojas ,
good news I was finally able to reproduce your errors and you were right. They are windows specific errors. Seems like there are some problems with the path formats under windows. But I finally got my windows installation set up and running so I will be able to pin down and fix the problems.

[2016-10-06 11:05] janniclas commented on #30
Hi @ElisaRojas
I managed to start the core with the ssh connection on my windows pc. I pushed some changes on the code to resolve the path issue. I still got some work to do to fitt everything to the windows environment but for now you should be able to start at least the core.

My settings:
![capture](https://cloud.githubusercontent.com/assets/8062521/19150081/49a2b926-8bc5-11e6-8b0d-228df60e898e

[2016-10-06 14:53] ElisaRojas commented on #30
Hi @janniclas ,

I have a new problem with the paths (sorry, hehe). The path to the SSH ID File is `C:\Users\Elisa\VirtualBox VMs\NetIDE-Engine (v0.22)\netide` and apparently it is getting broken when it founds the space between VirtualBox and VMs, because the output now is:

[code]

Just in case, I also tried `ssh -i C:\Users\Elisa\VirtualBox VMs\NetIDE-Engine (v0.22)\netide -p 22 netide@192.168.

[2016-10-10 11:07] janniclas commented on #30
Hi @ElisaRojas ,
I have been looking into this bug all morning and I still got nothing on it, sorry.
Is it possible to rename your folders or is this some kind of default generated name that always contains spaces?
Anyways it would be nice if you could test the recent changes with a folder without spaces so I know if they work for you.

[2016-10-10 12:28] ElisaRojas commented on #30
Hi @janniclas ,

`VirtualBox VMs` is the default folder in VirtualBox for Windows, so it always contains spaces (the names of the VMs can be easily renamed, but not this...).
I've been checking how to use a different folder and it seems possible, but I have to move **all** my VMs (more than 100GBs) and it will take a while, especially because I'd first prepare a copy of each of them, just in case

[2016-10-10 12:37] janniclas commented on #30
Hey @ElisaRojas ,
I didn't know that, that's a bummer. The problem is that I believe that I am actually handling the string right, even if it contains spaces and the problem occurs when I send the command to the terminal.
But if virtual box default location contains spaces I will dig into this a little deeper. Maybe I can fix it by using escape signs or something.
I will keep trying around and let

[2016-10-10 20:48] janniclas commented on #30
Hi @ElisaRojas ,
I believe I found a solution. It works with my mac os, but I was not able to test it under windows, so please check the latest check in and let me know if it works :)

[2016-10-10 21:23] ElisaRojas commented on #30
@janniclas ... Yesh!! That worked :smile:
![netide-core](https://cloud.githubusercontent.com/assets/2779496/19251406/5c4821b0-8f3f-11e6-972e-ababbd3b65cb.png)

I've just run the core, but I guess all the other components should work as well, shouldn't they? I'll try to test them in the following days. Probably will let @Juanma-Sanchez and Sergio Tamurejo know, so that they can test with a more upd

[2016-10-11 08:41] ElisaRojas commented on #30
Hi @janniclas ,

I found an additional small bug. If you edit the SSH profile and save it again, it will add extra `"` at the beginning and at the end of the path, and extra `\` for each blank space. So then `"` and `\` are duplicated and the SSH connection stops working:

[code]

To fix it manually, you have to remove all `"` and `\` before saving it again. Ideally, it would be nice that the edit

[2016-10-11 08:45] ElisaRojas commented on #28
I'm closing the issue since the customized folders have been added in the ssh_config_extension branch. Thanks!

[2016-10-11 08:45] #28 closed, assigned to cstritzke

[2016-10-11 08:48] janniclas commented on #30
Hey @ElisaRojas ,
I am aware of it thanks :)
This behaviour is there because of the way I implemented the path changes. Was the quickes way to do it but also the dirtiest. Just wanted to know if it works before I fully integrate it. The commit I am about to do this afternoon will fix this and add the fix to all used paths.
Also there will be a few changes so that every controller works, not just t

[2016-10-13 08:24] ElisaRojas commented on #30
Thank you @janniclas ! Please let us know when the update is ready to test everything... we tried to add a backend, a composition file, and there were some errors still.
Thanks!

[2016-10-17 20:07] ElisaRojas commented on #30
Just in case (to advance things a little), I'm posting the errors we get if we try to choose a backend or load some composition file...

![backend](https://cloud.githubusercontent.com/assets/2779496/19453535/f917957c-94b5-11e6-9d27-f0beaa9594b5.png)

![composition](https://cloud.githubusercontent.com/assets/2779496/19453537/fc67b5fe-94b5-11e6-9d35-f1a058f488c6.png)

[2016-10-17 20:20] janniclas commented on #30
hi @ElisaRojas ,
are these errors with the current version? I pushed a update about 5 days ago I guess, I forget to tell you about it :/

[2016-10-17 21:06] sushiljain1989 opened #31 "StackoverFlowError"
Hi,

I am trying to create a network topology and whenever I try to put a switch inside the network, it throws the StackOverflow Error.
<img width="1280" alt="screen shot 2016-10-17 at 11 04 52 pm" src="https://cloud.githubusercontent.com/assets/4305242/19455735/849486e8-94be-11e6-9a4f-6290825274f2.png">
Does anybody know how to fix this error ?

PS : It happens with switch only

~Sushil

Log :
ja

[2016-10-17 21:13] ElisaRojas commented on #30
Ok @janniclas , I've updated the code.

Now, if I try to load the **composition specification**, I get this:

[code]

But I bypassed this problem by using directly the "netide:loadcomposition" command in the core CLI.

As for the **backend/app + shim** (both for Ryu), I got the following errors:

[code]

[code]

Which I solved adding the `Engine` path for the shim, but not for the backend, which n

[2016-10-17 21:32] janniclas commented on #30
The screen terminates itself After the process in it is finished (in this case the load composition), I Need to figure out wehre to Display the Message wethere it was successfull or Not.
Without the Code in Front of me Right now, I remember a Problem about the Composite which I wanted to fix, But your errors don't Look anything like that. I will Check that as soon as I an in the Office tomorrow Mo

[2016-10-18 09:51] cstritzke commented on #31
Hi @sushiljain1989
I also got a Stack overflow error, however in another context. I was using Linux with GTK3 and the StackOverflow error occurred as soon as I opened a diagram.
I could solve this problem by switching to GTK2 and I did this by adding to my eclipse.ini:

[code]

Maybe this works on iOS as well...

[2016-10-18 13:58] janniclas commented on #30
Hi @ElisaRojas ,
I figured out the problem. It was a design mistake during the first implementation of the workbench, because back then I didn't think about ssh access. It will take me an additional day or two to fix this, because I have to talk to Christian first which might be the best solution.

[2016-10-18 14:25] ElisaRojas commented on #30
No problem @janniclas :smiley: Just let me know when it's done and I'll try it out again :)
Thank you!

[2016-10-18 16:17] janniclas commented on #30
Hi @ElisaRojas ,
I guess the problem wasn't so big anyways.
So basically the workbench would always expect the apps folder on the vm to be at ~/netide/apps.
In the ssh config dialog is a field where you can customize a path for the app folder, NOT on the vm, but on your machine. This folder will then be copied to ~/netide/apps, when you use the "Copy Apps" button.
This workflow is based on the ass

[2016-10-19 11:44] ElisaRojas commented on #30
Hi @janniclas ,

I've updated the branch and changed the apps path to indicate the apps location in my machine, as follows:
![ssh-profile](https://cloud.githubusercontent.com/assets/2779496/19517469/ae5a0e32-9601-11e6-984c-d830a786448f.png)
(One minor question, should the SSH profile add the `""`? There are no spaces, but I was just wondering if it should check it as well in case there are...).

A

[2016-10-19 11:58] janniclas commented on #30
@ElisaRojas no problem at all ;)
Did you make sure to use the 'copy apps' button after you added the paths?
Can you check your netide folder on the vm if it contains an app folder after you run 'copy apps' please? And if it is empty maybe.

[2016-10-19 13:50] ElisaRojas commented on #30
Hi @janniclas , I clicked the button, but no `~/netide/apps` appears (not empty, not with the apps). Should I create it before clicking on it?

[2016-10-19 16:34] janniclas commented on #30
Hey @ElisaRojas ,
I just arrived home and run a few tests on my windows pc.
Turns out this is a windows related problem again.
So I use scp to copy the files to the vm. Windows does not have scp so we use cygwin to get it.
When you click the copy app button cygwin will be used to execute scp and then tries to copy the specified folder. Problem is, cygwin is not allowed to access the complete file

[2016-10-20 08:19] ElisaRojas commented on #30
Hi @janniclas ,

I put the apps in the `C:\cygwin64\home\Elisa` folder and indicated that to the SSH profile, but still same result :( Maybe I should create the `~/netide/apps` folder in the VM as well?

Also, the Ryu shim and Mininet is not working either (as I mentioned in a previous message).

Thanks!

[2016-10-20 08:40] ElisaRojas commented on #30
Hi again @janniclas ,

Just a small update. I realised that the shim was not working because I closed it with the "Off" button, but  the process was not closed, and thus the "address in use" problem. I killed the process and now it works.

So the summary now is:

**Core** - Works nicely! :ok_hand: (although I'm loading a local **composition file**, not the one of the project)

**Ryu shim** - Works

[2016-10-20 10:18] janniclas commented on #30
Hey @ElisaRojas ,
sorry I wasn't specific about the path. Since the app folder path is used by cygwin's scp we are in a "linux like" environment. Meaning you need to specify the path like this `/home/Elisa/appFolder/`, with no C:                              \ or anything in front(the '/' instead of '\' are important :) ).
I will have a look into mininet later, but if I remember correctly there is

[2016-10-20 11:47] ElisaRojas commented on #30
Hi @janniclas ,

Sorry, but that still does not work...

To be more specific, just in case I'm still missing something, I've created a `apps` and a `topo` folder inside `C:\cygwin64\home\Elisa`, and I have copied the apps and Mininet generated topologies. The I have specified `/home/Elisa/apps` and `/home/Elisa/topo` in the profile, but still nothing appears in the VM. I have also tried other poss

[2016-10-20 13:03] janniclas commented on #30
@ElisaRojas sounds alright to me. I just pushed a commit with a control print of the commands send to the vm.
command should look like this `C:\cygwin64\bin\scp.exe -i C:\cygwin64\home\Elisa\.ssh\id_rsa -P 22 -r /home/Elisa/apps netide@192.168.56.101:netide/apps`

[2016-10-20 15:26] ElisaRojas commented on #30
Hi @janniclas , from here on @Juanma-Sanchez will be providing more feedback on the issue (as we are in the same state). But I might come from time to time. He's now checking the new commit.

In the meantime, I have tried the command all alone in the CLI and first it said: `netide/apps: No such file or directory` as I wondered in my previous comments. So I guess the folder needs to exist or be exp

[2016-10-20 15:39] janniclas commented on #30
Hi @ElisaRojas
-r is the flag for recursevely copy the given Folders, Subfolders and files.
In my Tests the App folder is created by the command.
Are you sure you have write access on the folder? I had that Problem when I tried to create a subfolder in an shared folder on the machine.

[2016-10-20 15:47] ElisaRojas commented on #30
Ok @janniclas , yes, I have the write access.  I just realised the problem was I was using `-p` instead of `-P` and now I can copy all apps. However, the `netide/apps` is still not created and raises the same error, so I have to create it first.

@Juanma-Sanchez can you test this? Create the `netide/apps` folder in case it doesn't work for you in the IDE.

[2016-10-20 16:50] Juanma-Sanchez commented on #30
Hi @janniclas ,
I have the backend running now but I'm not seeing the control print of the latest commit.
What's supposed to be the path in the VM where you copy the topology? Since our machines haven't been created with vagrant, the folder may not exist and that could be the problem with mininet (it's what happened with the apps).

EDIT: Is there currently any way to add extra options to the back

[2016-10-21 12:00] ElisaRojas commented on #30
Hi @janniclas , could you tell us what is the expected folder for the topology? (Similarly to the `~/netide/apps` folder for the apps). So that we can try creating it and seeing if the problem with the topology is solved as well (as happened in the case of the apps folder).
Thank you! :smiley:

[2016-10-22 11:31] sushiljain1989 commented on #31
@cstritzke Thanks for your solution, I tried it but not working for me. Please look at screenshots

<img width="1280" alt="screen shot 2016-10-22 at 1 30 25 pm" src="https://cloud.githubusercontent.com/assets/4305242/19619013/d2023970-985b-11e6-819e-70b651190ee9.png">
<img width="1280" alt="screen shot 2016-10-22 at 1 30 19 pm" src="https://cloud.githubusercontent.com/assets/4305242/19619014/d2045

[2016-10-24 06:59] janniclas commented on #30
Hey @ElisaRojas , it is copied to `~/mn-configs`.
@Juanma-Sanchez , at the moment you are not able to modify the backend calls, I will talk to christian about integrating something like this.

[2016-10-24 08:07] Juanma-Sanchez commented on #30
Hi @janniclas ,  there is still a problem with the mininet topology: it's trying to copy it from the workspace instead of the path indicated in the profile and I get a `ssh: could not resolve hostname c` error. Is this not implemented or am I doing something wrong?

Also modifying backend calls would be important because the Use Case 2 application meant to be used in the demos won't work otherwise

[2016-10-24 08:39] janniclas commented on #30
@Juanma-Sanchez I just fixed the copy topology button in the ssh tab, seems like it wasn't attached to anything for what ever reason.
Mininet is still not starting for me either, I need to take a closer look at this.

[2016-10-24 09:19] Juanma-Sanchez commented on #30
@janniclas the commands being executed now are:

[code]

They semm to work in a terminal, without commas.

EDIT: even with the topology copied manually, I'm getting a NullPointerException when I try to start mininet.

[2016-10-25 06:44] janniclas commented on #30
hi @Juanma-Sanchez
could you elaborate a bit more what you mean with 'they seem to work'. Is the folder created when you use the terminal? what is the behaviour when you use the workbench?
As I said earlier mininet is not working for me either and I was not able to fix it yet.

[2016-10-25 07:58] Juanma-Sanchez commented on #30
Sure @janniclas ,
I created the ~/mn-configs folder, after that I tried to copy the topology using the workbench and failed.
I, then, executed the command `C:\cygwin64\bin\scp.exe, -i, "\home\Juanma\Rsa_keys\Netide", -P, 22, -r, /home/Juanma/mininet, netide@192.168.1.45:mn-configs` in a terminal (with the folder already created) and it failed again. This is the point where I executed the command w

[2016-10-25 09:26] janniclas commented on #30
hi @Juanma-Sanchez ,
so there was a problem with the paths in the workbench. the ssh manager copied the mininet configuration to one path and the mininet starter looked for it at an other path, this should be fixed now.
How I managed to use mininet now was: 1. select your topology file and run generate in the workbench. this will generate the mininet files in your project in `gen/mininet`. If you

[2016-10-25 11:02] Juanma-Sanchez commented on #30
Hi @janniclas ,
Now when I try to run mininet I get the following error:
![image](https://cloud.githubusercontent.com/assets/16320771/19683547/e7b6b562-9ab2-11e6-8062-96c713b07917.png)
Also, not a problem but when I use copy topology, the first command is erasing the ~/mn-configs instead of ~/netide/mn-configs.

[2016-10-25 11:10] janniclas commented on #30
hi @Juanma-Sanchez ,
I changed the folder, thanks for the heads up.
I am not sure about this error, do you have any more specific stack trace from eclipse maybe?
Also I added a print statement in the mininet startet which will show you the command I use to execute mininet, so we can check on that if you try to start mininet

[2016-10-25 11:45] Juanma-Sanchez commented on #30
This is what I have:

[code]

The MininetStarter.java:16 refers to a deprecated method:
![image](https://cloud.githubusercontent.com/assets/16320771/19684747/4e99b206-9ab9-11e6-886c-f0a012c3a72f.png)

Also, I can't see the print output so the error probably occurs before that statement is executed.

[2016-10-25 12:50] janniclas commented on #30
@Juanma-Sanchez stackoverflow suggests to rebuild your eclipse project (run clean). This is most likely no code error, but an eclipse related problem.

[2016-10-25 13:31] Juanma-Sanchez commented on #30
Done, now the error is NullPointerException again:

[code]

[2016-10-26 07:20] janniclas commented on #30
hi @Juanma-Sanchez
could you please show me your ssh profile configuration? looks like something with a path went wrong there, but I am not quite sure what.
Also I added a control print to the latest commit to check the path from which I am currently trying to derive a file from.

[2016-10-26 07:57] Juanma-Sanchez commented on #30
Hi @janniclas , this is my current ssh profile:
![image](https://cloud.githubusercontent.com/assets/16320771/19717788/93ec324e-9b62-11e6-9bd3-74db0186cfcc.png)
Also, I have updated the repository but I don't see control print of the mininet start command.

[2016-10-26 10:01] sushiljain1989 commented on #31
Any other workaround for it ?

[2016-10-26 11:11] cstritzke commented on #31
The way the error output looks, I would say that something in your sirius installation went wrong. Did you try the [nightly build](https://github.com/fp7-netide/IDE/wiki/Installation#using-the-update-site)?

[2016-10-26 13:36] janniclas commented on #30
@Juanma-Sanchez they are printed to your starting eclipse command line. and it is not the mininet start command but the location string which throws the nullpointer when trying to parse it to an uri.

[2016-10-26 14:13] Juanma-Sanchez commented on #30
@janniclas Could it be the "null" print in this picture?
![image](https://cloud.githubusercontent.com/assets/16320771/19729369/0dd9161a-9b97-11e6-832e-8b9f1cd4f3d5.png)

[2016-10-26 16:15] sushiljain1989 commented on #31
Thanks @cstritzke , it's been a big mess now. I shall start with a fresh installation and update here the result

[2016-10-27 09:03] janniclas commented on #30
hi @Juanma-Sanchez ,
yeah it seems like it might be this null print. did you provide a location for your topology file on your machine, as shown in the picture? Because this topology file will be read from the mininet starter to determine which files in the min-configs folder need to be run on your vm.
<img width="939" alt="screen shot 2016-10-27 at 11 00 33" src="https://cloud.githubusercontent.c

[2016-10-27 09:11] Juanma-Sanchez commented on #30
Hi @janniclas ,
No, I didn't. With the path to the *.topology set, mininet starts correctly. I'll update the repository and tell you if it works.

[2016-10-27 10:15] Juanma-Sanchez commented on #30
Hi @janniclas ,
I have updated the IDE and tested the whole Use Case 2. I got the following error in the eclipse main console:
![image](https://cloud.githubusercontent.com/assets/16320771/19763539/c5c52de8-9c3e-11e6-98fa-b4554b430a2c.png)
And `WARNING: It seems that the server controller is not connected to the switches/Mininet` in the shim console.
Any idea why colud this be happening? And what's

[2016-10-27 10:45] janniclas commented on #30
hi @Juanma-Sanchez
the workbench fails to parse your topology file, seems like there is something wrong with it.
Christian asked me to implement an extra flag, one for the app controller and one for the backend controller so you can use flags for both, backends and apps.

[2016-10-27 11:24] Juanma-Sanchez commented on #30
Hi @janniclas ,
The error happenned when I needlessly tried to use the "Import Topology", my mistake. However the use case doesn't work. Do you have any idea on why the shim doesn't connect to mininet?

[2016-10-27 11:39] cstritzke commented on #30
Hi @Juanma-Sanchez,
this is mostly related to the ports of the shim and the controller in your topology model. Is it set to 6644? I think the shim uses that port.
Also, do you start Mininet from the dashboard? If not, did you run <topologyname>_run.py directly?

[2016-10-27 12:10] Juanma-Sanchez commented on #30
Hello @cstritzke ,
You were right the port wasn' set to 6644. After changing it, the `Unable to contact the remote controller at 127.0.0.1:6633` message has disappeared but I still get the same warning in the shim console.
I have tried starting mininet both from the workbench and running NetworkEnvironment_run.py directly in the VM.

[2016-10-27 12:30] ElisaRojas commented on #30
Hi @cstritzke , @janniclas ,

I think it might be something wrong with the start script of the shim or something similar, because this problem reminds me of the problem we had with Vagrant (see #18 ) and one of the reasons why we started using the SSH option instead.

It is not necessary for the Ryu and ONOS shim to use the port 6644, they could perfectly work with 6633 and in fact we've always wo

[2016-10-28 08:21] cstritzke commented on #30
Ok. So I guess we should make the shim port configurable?

[2016-10-28 09:13] ElisaRojas commented on #30
No, I think the port selection is secondary, it's more a curiosity...
We should analyse why Mininet is not working (apart from the ports) and revise the script.
@Juanma-Sanchez has checked the shim script and apparently is ok. So there should be something missing with Mininet... @Juanma-Sanchez , could you provide more info?

[2016-10-28 09:19] Juanma-Sanchez commented on #30
Yes @ElisaRojas ,
After taking a llok at the RyuShimStarter, I don't think the problem can be there. However, the NetworkEnviroment_run.py creates the topology , and I can see the switch interfaces with ifconfig but not with openvswitch, is this normal? And what does the sentence `switch = partial(MultiSwitch, protocols='OpenFlow10')` do?

[2016-11-01 12:35] ElisaRojas commented on #30
Hi @cstritzke , @janniclas , any clues on this? Is Mininet working for you? If so, what is your configuration?
We would really appreciate a prompt response as we're currently running out of time (we need to finish the UC2 before one week).

Thank you!

[2016-11-01 16:03] janniclas commented on #30
hi @ElisaRojas
no currently I am at the same problem as you are. Today is a holiday in germany, so I will be able to check in with Christian earliest, tomorrow afternoon.

[2016-11-04 11:39] ElisaRojas commented on #30
Hi @janniclas , any news? If we can help with something, please let us know. We are running out of time...
Thank you!

[2016-11-04 13:47] janniclas commented on #30
hey @ElisaRojas
changing ports for the maclearner to 6644 worked for me. now I am able to successfully use pingall from mininet. only wired thing is that I receive a ack from the core but the handshake process seems to never be completet (see screenshots).

![screen shot 2016-11-04 at 14 44 40](https://cloud.githubusercontent.com/assets/8062521/20007648/9162e56c-a29d-11e6-9c53-33632369c4ec.png)

!

[2016-11-04 15:22] ElisaRojas commented on #30
Hi @janniclas ,

To be honest, I still don't understand why we should use 6644 (but this is a different question, probably inherited because of the ODL shim, so let's keep for other day... :D). The thing is that if the handshake is never completed, I don't know how Mininet is able to pingall :disappointed: I guess the reason is that using that port, you are directly connecting the backend with Min

[2016-11-04 15:23] Juanma-Sanchez commented on #30
Hi @janniclas , our current situation Use Case 2 is the following:
- Using the topology generated by the IDE the backend doesn't complete the handshake and the shim shows the warning `WARNING: It seems that the server controller is not connected to the switches/Mininet`
- Using the topology from previous tests without IDE the backend completes correctly, althought the application doesn't work as e

[2016-11-05 09:58] janniclas commented on #30
Hi @ElisaRojas , @Juanma-Sanchez ,
I am not sure about the Port 6644, I just tested what Christian suggested in an earlier post.
What would really help me is if you could provide a detailed list of commands, which you use to execute the use case manually.
Because what I am doing in the workbench is e.g. creating a mininet starter class, which holds a command line string with certain parameters, wh

[2016-11-06 20:35] ElisaRojas commented on #30
Yes @janniclas , the list of commands would be great to help. Please @Juanma-Sanchez , provide that list as soon as possible to him. In any case, if you both aren't able to solve this on Monday, I'd still recommend to have a quick chat during on Tuesday to reach some conclusions, as the deadline for the deliverable is Wed.

Thank you!

[2016-11-07 08:11] Juanma-Sanchez commented on #30
Hi @janniclas ,
The commands are:

[code]

For the core.  For the shim: `ryu-manager ryu-shim.py`. The script https://github.com/fp7-netide/Usecases/blob/master/Usecase2/ryu/mininetStart.sh for mininet, and `ryu-manager --ofp-tcp-listen-port 7733 --observe-links ~/NetIDE/Engine-mixed/ryu-backend/ryu-backend.py IITS_NetManager.py` for the backend.

Unfortunately the mininet topology I was using, di

[2016-11-07 08:42] janniclas commented on #30
Hey @Juanma-Sanchez ,
I tried running the commands manually and got the following results
![screen shot 2016-11-07 at 09 35 55](https://cloud.githubusercontent.com/assets/8062521/20051149/c109841a-a4cd-11e6-9e56-ff5fd330d7f1.png)
![screen shot 2016-11-07 at 09 36 15](https://cloud.githubusercontent.com/assets/8062521/20051148/c1092330-a4cd-11e6-8650-5f572abbf2cf.png)

I didn't attach mininet so th

[2016-11-07 09:15] Juanma-Sanchez commented on #30
@janniclas if I'm not mistaken, Roberto once told us that the backend is meant to start with a topology already connected to the shim and it may malfunction otherwise. I have tried the to do the same, and got the same results, but the handshake completed after I started mininet (with the backend already runing).

[2016-11-07 09:24] ElisaRojas commented on #30
You're right @Juanma-Sanchez , usually the handshake is completed after starting Mininet. In fact I usually    start the backends and apps as the last step.

[2016-11-07 09:57] janniclas commented on #30
hey @Juanma-Sanchez , @ElisaRojas ,
so that explains all my connection problems in the workbench, since mininet wasn't able to connect to the switches the whole time...
So I just need to figure out why mininet is not getting connected.
Basically I just execute the mn-configs files generated before, so I have no idea why mininet isn't connected to the shim and core.

[2018-10-16 12:25] #31 closed, assigned to nobody